/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #754fec;
    --danger-color: #ed6145;
    --light-bg: #fafafa;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

label {
    margin-bottom: 4px;
}

button,
input[type="text"],
input[type="password"],
input[type="submit"],
select,
textarea {
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 8px 24px;
    margin-bottom: 24px;
    cursor: pointer;
}

button.button--is-primary,
input[type="text"].button--is-primary,
input[type="password"].button--is-primary,
input[type="submit"].button--is-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

button:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="submit"]:hover,
select:hover,
textarea:hover {
    filter: brightness(0.9);
}

button,
input[type="submit"] {
    align-self: center;
}

.button--is-secondary {
    border: none;
    padding: none;
    color: var(--danger-color);
}

input[type="text"],
input[type="password"],
select,
textarea {
    padding: 8px 8px;
    font: inherit;
}

textarea {
    height: 200px;
    min-width: calc(100% - 16px - 4px);
    max-width: calc(100% - 16px - 4px);
}

.error {
    color: var(--danger-color);
}

.info {
    color: var(--primary-color);
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    padding: 0 16px;
}

.return-arrow {
    margin: 16px 0 0 16px;
    display: block;
}

h2.form-title {
    margin: auto;
    margin-bottom: 32px;
    max-width: fit-content;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.card {
    background-color: var(--light-bg);
    padding: 24px;
    border-radius: 16px;

    .card__title {
        font-weight: bold;
    }

    .card__content {
        display: -webkit-box;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .card__infos-wrapper {
        display: flex;
        column-gap: 8px;
    }

    button,
    input[type="text"],
    input[type="password"],
    input[type="submit"],
    select,
    textarea {
        margin: 0;
    }
}

@media (max-width: 700px) {
.card-grid {
    grid-template-columns: 1fr;
}
.return-arrow {
    margin-top: 64px;
}
}
